{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold">FOREVER</h1>
    </div>

    <div class="row g-4 g-lg-5 align-items-center mb-5">
        <div class="col-lg-12">
            <img src="{% static 'core/img/LOCAL.jpg' %}" alt="imagen" class="img-fluid rounded shadow-lg">
        </div>
        <div class="col-lg-12 text-center">
            <h2 class="fw-bold mb-3">VAMOS A ROCANROLEAR POR SIEMPRE</h2>
            <p class="lead mb-4">Somos un local de ropa apuntado a aquellas personas que siempre quieren estar a la moda temporada tras temporada...</p>
        </div>
    </div>

    <div class="card bg-primary text-white my-5 shadow">
        <div class="card-body p-5 text-center">
            <h3 class="fw-light mb-0">Visita nuestros catalogos y nuestro SALE con las mejores promociones!!!</h3>
        </div>
    </div>
{% endblock content %}